<div class="container-fluid mt30">

  <div class="row">
    <div class="col-md-12">
      <!--Start question mark -->
      <div class="q-no-section pull-left">
        <div class="q-no-circle">1</div>
        <div class="q-total-count mt5">of 60</div>
      </div>
      <!--End question mark -->

      <!--Start question section -->
      <div class="q-section pull-left">
        <div class="row">
          <div class="col-md-12">
            <div>
              <span class="q-question-type mr10">Reading Question:</span>
              <span class="q-question-desc">Please choose the answer the best matches the question asked.</span>
            </div>
          </div>

          <div class="col-md-12 mt10">
            <div class="q-question">
              Before she choose a new apartment, Donna visited a ------, a woman who claimed to have supernatural insights about which homes had better psychic atmospheres.
            </div>
          </div>
        </div>
      </div>
      <!--End question section -->
    </div>
  </div>
</div>
